@import '@/styles/variables';
@import '@/styles/mixins';

.title {
  margin: 0 auto;
  margin-bottom: 20px;

  text-align: center;
}

.moreInfo {
  margin: 0 auto;
  margin-bottom: 40px;

  text-align: center;
}

.number {
  white-space: nowrap;
}
