@import '@/styles/variables';

.section {
  &_animate {
    .title{
      transition: opacity 800ms, transform 800ms;
      opacity: 1;
      transform: translateY(0);
    }

    .moreInfo {
      transition: opacity 800ms 500ms, transform 800ms 500ms;
      opacity: 1;
      transform: translateY(0);
    }

    .accordion {
      transition: opacity 800ms, transform 800ms;
      opacity: 1;
      transform: scale(1);
    }
  }
}

.title {
  margin: 0 auto;
  margin-bottom: 20px;

  text-align: center;

  opacity: 0;
  transform: translateY(100%);
}

.moreInfo {
  margin: 0 auto;
  margin-bottom: 60px;

  text-align: center;

  opacity: 0;
  transform: translateY(-15%);
}

.number {
  white-space: nowrap;
}

.group {
  max-width: $accordionMaxWidth;
  margin: 0 auto;
  margin-bottom: 60px;

  &:last-child {
    margin-bottom: 0;
  }
}

.subtitle {
  font-size: 1.4rem;
  font-weight: 600;
}

.accordion {
  opacity: 0;
  transform: scale(0.95);
}

@media (max-width: $mobileL) {
  .subtitle {
    font-size: 1.2rem;
  }
}
