@import '@/styles/variables';
@import '@/styles/mixins';

.services {
  position: relative;

  &__bg {
    @include TextureBackground;
  }

  &__title {
    margin-right: 0;
    margin-left: auto;

    text-align: right;
  }
}