@import '@/styles/variables';
@import '@/styles/mixins';

.section {
  // opacity: 0;

  &_animate {
    // transition: opacity 0.8s;
    // opacity: 1; 

    .title {
      opacity: 1;
      transform: translateX(0);
      transition: opacity 0.8s, transform 0.8s;
    }

    .subTitle {
      opacity: 1;
      transition: opacity 0.8s;
    }
  }
}

.title {
  opacity: 0;
  transform: translateX(-10%);
}

// .info {
//   opacity: 0;
// }

.subTitle {
  opacity: 0; ////////////
  margin-bottom: 15px;

  font-size: 1.2rem;
  font-weight: 700;
}

.desc {
  margin-bottom: 20px;
}

.list {
  list-style: none;
}

.item {
  margin-bottom: 5px;
}

.num {
  font-size: 1.2rem;
  font-weight: 700;
}

@media (max-width: $tablet) {
  .title {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    @include BorderBottomGradientCenter;
  }
}

@media (max-width: $mobileM) {
  .subTitle {
    font-size: 1.2rem;
  }
}
