@import '@/styles/variables';

.subTitle {
  margin-bottom: 20px;

  font-size: 1.4rem;
}

.desc {
  margin-bottom: 20px;
}

.list {
  list-style: none;
}

.item {
  margin-bottom: 5px;
}

.num {
  font-size: 1.2rem;
  font-weight: 700;
  font-style: italic;
}

@media (max-width: $mobileM) {
  .subTitle {
    font-size: 1.2rem;
  }
}
