@import '@/styles/variables';
@import '@/styles/mixins';

.section {
  opacity: 0;

  &_animate {
    transition: opacity 0.8s;
    opacity: 1; 

    // .title {
    //   transition: transform 0.8s;
    //   transform: translateX(0);
    // }
  }
}

// .title {
//   transform: translateX(-10%);
// }

.subTitle {
  margin-bottom: 15px;

  font-size: 1.2rem;
  font-weight: 700;
}

.desc {
  margin-bottom: 20px;
}

.list {
  list-style: none;
}

.item {
  margin-bottom: 5px;
}

.num {
  font-size: 1.2rem;
  font-weight: 700;
}

@media (max-width: $tablet) {
  .title {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    @include BorderBottomGradientCenter;
  }
}

@media (max-width: $mobileM) {
  .subTitle {
    font-size: 1.2rem;
  }
}
