@import '@/styles/variables';

.container,
.fakeItemContainer {
  font-size: 1.2rem;
  font-weight: 600;

  border-bottom: 2px solid rgba(0, 0, 0, 0.1);

  &:last-child {
    border: none;
  }
}

.fakeItemContainer {
  transition: background 300ms, opacity 300ms;

  &:hover {
    background-color: rgba(0, 0, 0, 0.06);

    & .fakeToggler svg {
      transform: translateX(0%) rotate(90deg);
    }
  }

  &:active {
    opacity: 0.7;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;

  padding: 15px;
  padding-left: 30px;

  cursor: pointer;

  &:hover {
    .toggler {
      background-color: $green;

      & svg path {
        stroke: $white;
      }
    }
  }

  &__title {
    flex-grow: 1;
  }
}

.toggler {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 5px;

  background-color: transparent;
  border: none;
  border-radius: 50%;
  transition: background 300ms;
  cursor: pointer;

  & svg {
    will-change: transform;
    transition: transform 300ms;
  }

  &_active {
    & svg {
      transform: rotate(-45deg);
    }
  }
}

.fakeToggler {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 8px 5px;

  background-color: transparent;
  border: none;
  cursor: pointer;

  & svg {
    will-change: transform;
    transition: transform 300ms;
    transform: translateX(-50%) rotate(90deg);
  }

  & svg path {
    fill: #919191dc;
  }
}

.children {
  padding: 0 30px 30px 30px;

  font-size: 1rem;
  font-weight: 500;

  list-style: disc;
}

@media (max-width: $tablet) {
  .children {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: $mobileL) {
  .container {
    font-size: 1rem;
  }
}

@media (max-width: $mobileM) {
  .header {
    padding-right: 10px;
    padding-left: 20px;
  }

  .children {
    padding: 0;
  }
}
