@import '@/styles/variables';

.container {
  font-size: 1.2rem;
  font-weight: 600;

  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  transition: 0.3s;

  &:last-child {
    border: none;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;

  padding: 15px;
  padding-left: 30px;

  transition: 0.3s;
  cursor: pointer;

  &:hover {
    .toggler {
      background-color: $green;

      & svg path {
        stroke: $white;
      }
    }
  }

  &__title {
    flex-grow: 1;
  }
}

.toggler {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 5px;

  background-color: transparent;
  border: none;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;

  & svg {
    will-change: transform;
    transition: 0.3s;
  }

  &_active {
    & svg {
      transform: rotate(-45deg);
    }
  }
}

.list {
  padding: 0 30px 30px 50px;

  font-size: 1rem;
  font-weight: 500;

  list-style: disc;
}

.item {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.explanation {
  font-weight: 600;
  font-style: italic;
  white-space: nowrap;
}

@media (max-width: $tablet) {
  .item {
    margin-bottom: 15px;
  }
}

@media (max-width: $mobileL) {
  .container {
    font-size: 1rem;
  }

  .item {
    margin-bottom: 15px;
    font-size: 14px;
  }
}

@media (max-width: $mobileM) {
  .header {
    padding-right: 10px;
    padding-left: 20px;
  }

  .list {
    padding: 0 5px 30px 35px;
  }
}
