@import '@/styles/variables';
@import '@/styles/mixins';

.section {
  &_animate {
    .title {
      transition: 0.8s;
      opacity: 1;
      transform: translateX(0);
    }

    .card {
      transition: 0.8s;
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.title {
  margin-bottom: 25px;
  opacity: 0;
  transform: translateX(-10%);
}

.list {
  @include CardsContainer;
}

.card {
  opacity: 0;
  transform: translateY(10%);
}

.cardInfo {
  margin-bottom: 15px;
  text-align: left;

  &__FracAndVolum {
    margin-bottom: 10px;
    font-style: italic;
  }

  &__stockAndPrice {
    display: flex;
    justify-content: space-between;
  }

  &__stock {
    font-weight: 700;

    &_true {
      color: $green;
    }

    &_false {
      color: darkred;
    }
  }

  &__price {
    font-weight: 700;
  }
}
