.section {
  opacity: 0;

  &_animate {
    transition: opacity 0.8s;
    opacity: 1;
  }
}

.title {
  margin-bottom: 35px;
}

.advatages {
  margin-bottom: 20px;

  text-align: justify;
}

.listDesc {
  margin-bottom: 10px;
  padding-bottom: 10px;

  font-weight: 700;
  font-size: 1.2rem;
}

.list {
  padding-left: 30px;

  list-style: disc;
}

.item {
  padding: 5px 0;

  &:last-child {
    padding-bottom: 0;
  }
}