@import '@/styles/variables';

.container {
  user-select: none;
}

.imageWrapper {
  height: 425px;

  border-radius: $borderRadius;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;

  object-position: center;
  border-radius: $borderRadius;
}

@media (max-width: $laptop) {
  .imageWrapper {
    height: 360px;
  }
}

@media (max-width: $mobileXL) {
  .imageWrapper {
    height: 260px;
  }
}

@media (max-width: $mobileL) {
  .imageWrapper {
    height: 220px;
  }
}

@media (max-width: $mobileM) {
  .imageWrapper {
    max-height: 190px;
  }
}