@import '@/styles/variables';

.container {
  max-width: 720px;
}

@media (max-width: $tablet) {
  .container {
    --swiper-navigation-size: 30px;
  }
}

@media (max-width: $mobileM) {
  .container {
    --swiper-navigation-size: 25px;
  }
}
