@import '@/styles/mixins';
@import '@/styles/variables';

.section {
  &_animate {
    .title {
      transition: opacity 0.8s, transform 0.8s;
      opacity: 1;
      transform: translateY(0);
    }

    .moreInfo {    
      transition: opacity 800ms 500ms, transform 800ms 500ms;
      opacity: 1;
      transform: translateY(0%);
    }

    .accordion {
      transition: opacity 0.8s, transform 0.8s;
      opacity: 1;
      transform: scale(1);
    }

    .copyrightDesc {
      transition: opacity 0.8s 0.8s;
      opacity: 0.7;
    }

    .buttonWrapper {
      transition: opacity 0.8s 0.8s;
      opacity: 1;
    }
  }
}

.title {
  margin-bottom: 25px;

  opacity: 0;
  transform: translateY(50%);
}

.moreInfo {
  margin: 0 auto;
  margin-bottom: 40px;

  text-align: center;

  opacity: 0;
  transform: translateY(-15%);
}

.number {
  white-space: nowrap;
}

.accordion {
  opacity: 0;
  transform: scale(0.95);
}

.copyrightDesc {
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 25px;

  max-width: 630px;

  text-align: center;
  font-style: italic;
  opacity: 0;
}

.buttonWrapper {
  text-align: center;
  opacity: 0;
}

.tableInAccordion {
  @include TableInAccordion;
}
