@import '@/styles/variables';
@import '@/styles/mixins';

.section {
  position: relative;
  padding-top: 80px;

  &_animate {
    .info {
      opacity: 1;
      transition: opacity 0.8s;
    }

    .title {
      transition: opacity 0.8s, transform 0.8s;
      transform: translateX(0);
      opacity: 1;
    }

    .map {
      transition: opacity 0.8s;
      opacity: 1;
    }
  }
}

.wrapper {
  display: flex;

  padding: 0;

  border-radius: $borderRadius;
  box-shadow: $boxShadowStrong;
  overflow: hidden;

  color: $white;
  background-color: $lightBlack;
}

.info {
  flex-basis: 50%;
  padding: 30px;

  opacity: 0;
}

.title {
  margin-bottom: 15px;

  transform: translateX(-5%);
  opacity: 0;
}

.item {
  margin-bottom: 25px;

  white-space: nowrap;

  &:nth-child(1) {
    margin-bottom: 15px;
  }

  &:nth-child(2) {
    margin-bottom: 8px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &__header {
    margin-bottom: 5px;
  }

  &__desc {
    padding-left: 12px;
  }
}

.number {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;

  width: min-content;

  padding: 10px;
  padding-left: 12px;

  font-size: 1.2rem;

  transition: 0.3s;

  &:hover {
    opacity: 0.7;
  }
}

.mark {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;

  width: 100%;

  padding: 15px 15px;

  color: $white;
  font-style: italic;

  border-radius: $borderRadius;
  background-color: $green;
}

.map {
  flex-basis: 50%;
  width: 100%;

  opacity: 0;
  border: none;
}

.ip {
  margin-bottom: 5px;
}

@media (max-width: $laptop) {
  .section {
    padding-bottom: 430px;
  }

  .wrapper {
    display: block;
    max-width: 768px;
    margin: 0 auto;
  }

  .map {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 350px;
  }
}

@media (max-width: $tablet) {
  .info {
    padding: 20px;
  }

  .title {
    margin-left: auto;
    margin-right: auto;

    white-space: normal;
    text-align: center;
    @include BorderBottomGradientCenter;
  }

  .mark {
    white-space: normal;
    text-align: center;

    & svg {
      display: none;
    }
  }
}

@media (max-width: $mobileL) {
  .socials {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0;
  }
}
