@import '@/styles/variables';

.section {
  &_animate {
    .title {
      transition: 0.8s;
      opacity: 1;
      transform: translateY(0);
    }

    .info {
      transition: 0.8s 0.4s;
      opacity: 1;
    }
  }
}

.title {
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 25px;

  text-align: center;

  opacity: 0;
  transform: translateY(10%);
}

.subTitle {
  margin-bottom: 15px;
  padding-bottom: 15px;

  font-size: 1.4rem;
  font-weight: 700;
}

.wrapper {
  display: flex;
  gap: 25px;
  padding: 25px;

  border-radius: $borderRadius;
  background-color: $white;
  box-shadow: $boxShadowLight;
}

.gallery {
  max-width: 60%;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  opacity: 0;
}

.productProps {
  margin-bottom: 15px;
}

.stock {
  margin-bottom: 15px;
  font-weight: 700;

  &_true {
    color: $green;
  }

  &_false {
    color: darkred;
  }
}

.price {
  margin-bottom: 15px;
  font-weight: 700;
}

@media (max-width: $tablet) {
  .wrapper {
    flex-direction: column;
    padding: 15px;
  }

  .gallery {
    max-width: 100%;
  }
}

@media (max-width: $mobileL) {
  .section {
    padding-left: 0;
    padding-right: 0;
  }
}
