@import '@/styles/variables';
@import '@/styles/mixins';

.advantages {
  text-align: center;
  padding-bottom: 30px;

  &__title {
    margin: 0 auto;
    margin-bottom: 20px;

    &_we {
      color: $green;
    }
  }

  &__tagline {
    margin-bottom: 40px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}

.advantage {
  padding: 30px;

  &__title {
    margin-top: 20px;
    margin-bottom: 15px;
    padding-bottom: 15px;

    font-size: 1.4rem;
    font-weight: 600;

    border-bottom: 2px solid $green;
    @include BorderBottomGradientCenter;
  }
}
