@import '@/styles/variables';

.backdrop {
  position: fixed;
  z-index: 10;

  display: flex;
  justify-content: center;
  align-items: center;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  padding: 15px;

  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(1px);
}

.content {
  position: relative;
  z-index: 11;

  
  display: flex;
  justify-content: center;
  
  max-width: $maxAppWidth;
  max-height: 100%;
  padding: 30px;
  padding-top: 50px;

  background-color: $white;
  border-radius: $borderRadius;
  box-shadow: $boxShadowStrong;
  overflow-y: auto;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;

  transition: opacity 300ms;
  cursor: pointer;

  & svg {
    transform: rotate(45deg);
  }

  &:hover {
    opacity: 0.7;
  }
}

@media (max-width: $tablet) {
  .backdrop {
    padding: 0;
  }

  .content {
    padding: 15px;
    padding-top: 50px;
  }
}
