.section {
  opacity: 0;

  & p {
    margin-bottom: 30px;
  }

  & p:last-child {
    margin-bottom: 0;
  }

  &_animate {
    transition: opacity 0.8s;
    opacity: 1;
  }
}

.title {
  margin-bottom: 35px;
}

.desc {
  text-indent: 15px;
}

.mark {
  font-size: 1.2rem;
}
