.advatages {
  margin-bottom: 20px;

  text-indent: 15px;
  text-align: justify;
}

.listDesc {
  margin-bottom: 15px;

  font-size: 1.2rem;
  font-weight: 700;
}

.list {
  padding-left: 30px;

  list-style: disc;
}

.item {
  margin-bottom: 5px;

  &:last-child {
    margin-bottom: 0;
  }
}