.section {
  opacity: 0;

  &_animate {
    transition: opacity 0.8s;
    opacity: 1;

    .title {
      transition: opacity 0.8s, transform 0.8s;
      transform: translateY(0);
    }
  }
}

.title {
  transform: translateX(-10%);
}