.section {
  opacity: 0;

  &_animate {
    transition: opacity 0.8s;
    opacity: 1;
  }
}

.title {
  margin-bottom: 35px;
}

.desc {
  margin-bottom: 5px;
  text-indent: 15px;
}

.mark {
  font-size: 1.2rem;
}

.list {
  padding-left: 20px;
  list-style: disc;

  & li {
    padding: 5px 0;
  }
}