@import '@/styles/variables';

.section {
  text-align: center;

  &_animate {
    .title {
      transition: 0.8s;
      opacity: 1;
      transform: translateY(0);
    }

    .desc {
      transition: 0.8s 0.5s;
      opacity: 1;
      transform: translateY(0);
    }

    .item {
      transition: 0.8s;
      opacity: 1;
      transform: translateY(0);
    }

    .button {
      transition: 0.8s 0.8s;
      opacity: 1;
    }
  }
}

.title {
  margin: 0 auto;
  margin-bottom: 20px;

  opacity: 0;
  transform: translateY(100%);
}

.desc {
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 40px;

  opacity: 0;
  transform: translateY(-15%);
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 40px;

  margin-bottom: 60px;
}

.item {
  opacity: 0;
  transform: translateY(10%);
}

.button {
  opacity: 0;
}

@media (max-width: $laptop) {
  .list {
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  }
}

@media (max-width: $tablet) {
  .list {
    column-gap: 15px;
    row-gap: 40px;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  }
}
