@import '@/styles/variables';

.section {
  opacity: 0;

  & div,
  p {
    margin-bottom: 30px;
  }

  &_animate {
    transition: opacity 0.8s;
    opacity: 1;

    .title {
      transition: opacity 800ms, transform 800ms;
      transform: translateY(0);
      opacity: 1;
    }
  }
}

.title {
  margin-bottom: 35px;
  transform: translateY(100%);
  opacity: 0;
}

.mark {
  font-size: 1.2rem;
}

.listTitle {
  margin-bottom: 10px;
  padding-bottom: 10px;
  font-size: 1.2rem;
}

.list {
  padding-left: 20px;
  list-style: disc;

  & li {
    padding: 5px 0;
  }

  & li:last-child {
    padding-bottom: 0;
  }
}
