@import '@/styles/variables';
@import '@/styles/mixins';

@media (max-width: $tablet) {
  .title {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    @include BorderBottomGradientCenter;
  }
}