@import '@/styles/variables';

.header {
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;

  color: $white;

  transition: 0.3s;

  &_onMain {
    position: fixed;
    padding: 10px 0;
  }

  &_notOnMain {
    position: sticky;
    background-color: $black;
  }

  &_stick {
    padding: 0;
    background-color: $black;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  }
}

.nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-weight: 600;

  &__list {
    place-self: center left;

    display: flex;
  }

  &__item {
    position: relative;
  }

  &__link {
    display: inline-block;
    padding: 25px 20px;

    transition: 0.3s;

    &:hover {
      opacity: 0.7;
    }
  }

  &__logo {
    place-self: center center;
    padding: 5px;

    transition: 0.3s;

    &:hover {
      opacity: 0.7;
    }
  }

  &__contacts {
    place-self: center right;

    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__number {
    padding: 10px;

    white-space: nowrap;

    transition: 0.3s;

    &:hover {
      opacity: 0.7;
    }
  }
}

@media screen and (max-width: $laptop) {
  .nav {
    &__list {
      order: 1;
      place-self: center center;
    }

    &__logo {
      order: 0;
      place-self: center start;
    }

    &__contacts {
      order: 2;
      place-self: center end;
    }

    &__number {
      display: none;
    }
  }
}

@media screen and (max-width: $tablet) {
  .header {
    &_onMain {
      padding: 6px 0;
    }

    &_stick {
      padding: 6px 0;
    }
  }
  .nav {
    &__list {
      display: none;
    }

    &__logo {
      padding-top: 15px;
      padding-bottom: 15px;
    }

    &__contacts {
      display: none;
    }
  }
}
