@import '@/styles/variables';

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.statusCode {
  font-size: 6rem;
  letter-spacing: 5px;
  font-weight: 700;
  line-height: 1;
}

.errorMessage {
  font-weight: 700;
  margin-bottom: 5px;
}

.desc {
  margin-bottom: 30px;
  text-align: center;
}